@using Sitecore.Mvc
@model IEnumerable<Mongabon.Models.MenuItem>
@{
    
}

@if (Model.Count() > 0)
{
    <footer class="footer">
    <div class="container padding-30">
        <div class="row text-center">

            @foreach (var item in Model) 
            {
                <ul class="list-unstyled col-lg-2 col-md-2">
                    @if (item.HasChild)
                    {
                        <li>@item.Title</li>
                        <li>
                            <ul class="list-unstyled">
                                @foreach (var child in item.SubmenuItems)
                                {
                                    <li>
                                        <a href="@child.ItemUrl"> @child.Title</a>
                                    </li>
                                }
                            </ul>
                        </li>                        
                    }
                    else
                    {
                        <li>
                            <a href="@item.ItemUrl"> @item.Title</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</footer>
}
